gateway/src/main/resources/mypackage/bulkapi.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.bulkSms.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.bulkSms.ws/" name="CcApi">
<types>
<xsd:schema>
<xsd:import namespace="http://smsbrand.viettel.com/" schemaLocation="http://ams.tinnhanthuonghieu.vn:8009/bulkapi?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://impl.bulkSms.ws/" schemaLocation="http://ams.tinnhanthuonghieu.vn:8009/bulkapi?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="checkBalance">
<part name="parameters" element="tns:checkBalance"></part>
</message>
<message name="checkBalanceResponse">
<part name="parameters" element="tns:checkBalanceResponse"></part>
</message>
<message name="wsGetCpCode">
<part name="parameters" element="tns:wsGetCpCode"></part>
</message>
<message name="wsGetCpCodeResponse">
<part name="parameters" element="tns:wsGetCpCodeResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<message name="wsCpMt2">
<part name="parameters" element="tns:wsCpMt2"></part>
</message>
<message name="wsCpMt2Response">
<part name="parameters" element="tns:wsCpMt2Response"></part>
</message>
<message name="wsCpMt4">
<part name="parameters" element="tns:wsCpMt4"></part>
</message>
<message name="wsCpMt4Response">
<part name="parameters" element="tns:wsCpMt4Response"></part>
</message>
<message name="getDlrStatus">
<part name="parameters" element="tns:getDlrStatus"></part>
</message>
<message name="getDlrStatusResponse">
<part name="parameters" element="tns:getDlrStatusResponse"></part>
</message>
<message name="wsReportHour">
<part name="parameters" element="tns:wsReportHour"></part>
</message>
<message name="wsReportHourResponse">
<part name="parameters" element="tns:wsReportHourResponse"></part>
</message>
<message name="wsReportDaily">
<part name="parameters" element="tns:wsReportDaily"></part>
</message>
<message name="wsReportDailyResponse">
<part name="parameters" element="tns:wsReportDailyResponse"></part>
</message>
<message name="wsReportMonth">
<part name="parameters" element="tns:wsReportMonth"></part>
</message>
<message name="wsReportMonthResponse">
<part name="parameters" element="tns:wsReportMonthResponse"></part>
</message>
<message name="wsCpMt">
<part name="parameters" element="tns:wsCpMt"></part>
</message>
<message name="wsCpMtResponse">
<part name="parameters" element="tns:wsCpMtResponse"></part>
</message>
<message name="getFailSub">
<part name="parameters" element="tns:getFailSub"></part>
</message>
<message name="getFailSubResponse">
<part name="parameters" element="tns:getFailSubResponse"></part>
</message>
<message name="wsCpBatchMt">
<part name="parameters" element="tns:wsCpBatchMt"></part>
</message>
<message name="wsCpBatchMtResponse">
<part name="parameters" element="tns:wsCpBatchMtResponse"></part>
</message>
<message name="wsEcomCpMt">
<part name="parameters" element="tns:wsEcomCpMt"></part>
</message>
<message name="wsEcomCpMtResponse">
<part name="parameters" element="tns:wsEcomCpMtResponse"></part>
</message>
<message name="wsCpMtRegDlr">
<part name="parameters" element="tns:wsCpMtRegDlr"></part>
</message>
<message name="wsCpMtRegDlrResponse">
<part name="parameters" element="tns:wsCpMtRegDlrResponse"></part>
</message>
<message name="getIp">
<part name="parameters" element="tns:getIp"></part>
</message>
<message name="getIpResponse">
<part name="parameters" element="tns:getIpResponse"></part>
</message>
<portType name="CcApi">
<operation name="checkBalance">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/checkBalanceRequest" message="tns:checkBalance"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/checkBalanceResponse" message="tns:checkBalanceResponse"></output>
</operation>
<operation name="wsGetCpCode">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/wsGetCpCodeRequest" message="tns:wsGetCpCode"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/wsGetCpCodeResponse" message="tns:wsGetCpCodeResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://impl.bulkSms.ws/CcApi/wsGetCpCode/Fault/Exception"></fault>
</operation>
<operation name="wsCpMt2">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/wsCpMt2Request" message="tns:wsCpMt2"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/wsCpMt2Response" message="tns:wsCpMt2Response"></output>
</operation>
<operation name="wsCpMt4">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/wsCpMt4Request" message="tns:wsCpMt4"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/wsCpMt4Response" message="tns:wsCpMt4Response"></output>
</operation>
<operation name="getDlrStatus">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/getDlrStatusRequest" message="tns:getDlrStatus"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/getDlrStatusResponse" message="tns:getDlrStatusResponse"></output>
</operation>
<operation name="wsReportHour">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/wsReportHourRequest" message="tns:wsReportHour"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/wsReportHourResponse" message="tns:wsReportHourResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://impl.bulkSms.ws/CcApi/wsReportHour/Fault/Exception"></fault>
</operation>
<operation name="wsReportDaily">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/wsReportDailyRequest" message="tns:wsReportDaily"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/wsReportDailyResponse" message="tns:wsReportDailyResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://impl.bulkSms.ws/CcApi/wsReportDaily/Fault/Exception"></fault>
</operation>
<operation name="wsReportMonth">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/wsReportMonthRequest" message="tns:wsReportMonth"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/wsReportMonthResponse" message="tns:wsReportMonthResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://impl.bulkSms.ws/CcApi/wsReportMonth/Fault/Exception"></fault>
</operation>
<operation name="wsCpMt">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/wsCpMtRequest" message="tns:wsCpMt"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/wsCpMtResponse" message="tns:wsCpMtResponse"></output>
</operation>
<operation name="getFailSub">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/getFailSubRequest" message="tns:getFailSub"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/getFailSubResponse" message="tns:getFailSubResponse"></output>
</operation>
<operation name="wsCpBatchMt">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/wsCpBatchMtRequest" message="tns:wsCpBatchMt"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/wsCpBatchMtResponse" message="tns:wsCpBatchMtResponse"></output>
</operation>
<operation name="wsEcomCpMt">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/wsEcomCpMtRequest" message="tns:wsEcomCpMt"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/wsEcomCpMtResponse" message="tns:wsEcomCpMtResponse"></output>
</operation>
<operation name="wsCpMtRegDlr">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/wsCpMtRegDlrRequest" message="tns:wsCpMtRegDlr"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/wsCpMtRegDlrResponse" message="tns:wsCpMtRegDlrResponse"></output>
</operation>
<operation name="getIp">
<input wsam:Action="http://impl.bulkSms.ws/CcApi/getIpRequest" message="tns:getIp"></input>
<output wsam:Action="http://impl.bulkSms.ws/CcApi/getIpResponse" message="tns:getIpResponse"></output>
</operation>
</portType>
<binding name="CcApiPortBinding" type="tns:CcApi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="checkBalance">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="wsGetCpCode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="wsCpMt2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="wsCpMt4">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDlrStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="wsReportHour">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="wsReportDaily">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="wsReportMonth">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
<operation name="wsCpMt">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getFailSub">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="wsCpBatchMt">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="wsEcomCpMt">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="wsCpMtRegDlr">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getIp">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CcApi">
<port name="CcApiPort" binding="tns:CcApiPortBinding">
<soap:address location="http://ams.tinnhanthuonghieu.vn:8009/bulkapi"></soap:address>
</port>
</service>
</definitions>